In [99]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import metrics
from sklearn.metrics import r2_score


from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

In [100]:
data=pd.read_csv('ReligionHindu_Cleaned.csv')
data.head(5)

,Region,Country,Percent,Pop,Hindu
0,South Asia,Afghanistan Afghanistan,0.4%[11][12],31889923,4000
1,Western Europe,Andorra Andorra,0.4%[13],85000,342
2,Caribbean,Anguilla Anguilla,0.43%[14],13452,58
3,Caribbean,Antigua and Barbuda Antigua and Barbuda,0.4%[15],81799,379
4,South America,Argentina Argentina,0.01%[16],40301927,4030

In [101]:
#deleting unwanted entries

data=data.dropna()

In [102]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112 entries, 0 to 111
Data columns (total 5 columns):
Region      112 non-null object
Country     112 non-null object
Percent     112 non-null object
Pop         112 non-null object
Hindu       112 non-null object
dtypes: object(5)
memory usage: 5.2+ KB

In [103]:
#converting the total population and hindu population data to numeric

data["Pop"] = data["Pop"].apply(pd.to_numeric, errors='coerce').astype('float64')

In [104]:
data["Hindu"] = data["Hindu"].apply(pd.to_numeric, errors='coerce').astype('float64')

In [105]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112 entries, 0 to 111
Data columns (total 5 columns):
Region      112 non-null object
Country     112 non-null object
Percent     112 non-null object
Pop         109 non-null float64
Hindu       99 non-null float64
dtypes: float64(2), object(3)
memory usage: 5.2+ KB

In [121]:
#deleting unwanted data
data=data.dropna()

In [122]:
#data after cleaning

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97 entries, 0 to 111
Data columns (total 5 columns):
Region      97 non-null object
Country     97 non-null object
Percent     97 non-null float64
Pop         97 non-null float64
Hindu       97 non-null float64
dtypes: float64(3), object(2)
memory usage: 4.5+ KB

In [123]:
data.head()

,Region,Country,Percent,Pop,Hindu
0,South Asia,Afghanistan Afghanistan,0.012543,31889923.0,4000.0
1,Western Europe,Andorra Andorra,0.402353,85000.0,342.0
2,Caribbean,Anguilla Anguilla,0.431163,13452.0,58.0
3,Caribbean,Antigua and Barbuda Antigua and Barbuda,0.463331,81799.0,379.0
4,South America,Argentina Argentina,0.010000,40301927.0,4030.0

In [124]:
len(data)

97

In [125]:
#finding the percentage of hindu in total population

In [126]:
for i in range(0,97):
    pop=data['Pop'].iloc[i]
    hind=data['Hindu'].iloc[i]
    val=(hind/pop)*100
    data['Percent'].iloc[i]=val

In [127]:
#forced conversion to numeric

data["Percent"] = data["Percent"].apply(pd.to_numeric, errors='coerce').astype('float64')

In [128]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97 entries, 0 to 111
Data columns (total 5 columns):
Region      97 non-null object
Country     97 non-null object
Percent     97 non-null float64
Pop         97 non-null float64
Hindu       97 non-null float64
dtypes: float64(3), object(2)
memory usage: 4.5+ KB

In [129]:
data.head()

,Region,Country,Percent,Pop,Hindu
0,South Asia,Afghanistan Afghanistan,0.012543,31889923.0,4000.0
1,Western Europe,Andorra Andorra,0.402353,85000.0,342.0
2,Caribbean,Anguilla Anguilla,0.431163,13452.0,58.0
3,Caribbean,Antigua and Barbuda Antigua and Barbuda,0.463331,81799.0,379.0
4,South America,Argentina Argentina,0.010000,40301927.0,4030.0

In [130]:
#finally a notebook is created where all numeric values are in float data types ,any furthur user can work on it