In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import metrics
from sklearn.metrics import r2_score


from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

In [33]:
data=pd.read_csv('Population living below national poverty line_Cleaned.csv')
data.head(5)

       Country WorldBank[7]    Year CIA[8]  Year.1 Other Year.2 Continent
0  Afghanistan        54.5%  2016.0  54.5%  2017.0   NaN    NaN      Asia
1      Albania        14.3%  2012.0  14.3%  2012.0   NaN    NaN    Europe
2      Algeria         5.5%  2011.0  23.0%  2006.0   NaN    NaN    Africa
3      Andorra          NaN     NaN    NaN     NaN   NaN    NaN    Europe
4       Angola        36.6%  2008.0  36.6%  2008.0   NaN    NaN    Africa

In [34]:
#removing columns which wont be that vital

data=data.drop('Other' ,axis=1)

In [35]:
data=data.drop('Year.2', axis=1)

In [36]:
#new data

data.head()

       Country WorldBank[7]    Year CIA[8]  Year.1 Continent
0  Afghanistan        54.5%  2016.0  54.5%  2017.0      Asia
1      Albania        14.3%  2012.0  14.3%  2012.0    Europe
2      Algeria         5.5%  2011.0  23.0%  2006.0    Africa
3      Andorra          NaN     NaN    NaN     NaN    Europe
4       Angola        36.6%  2008.0  36.6%  2008.0    Africa

In [37]:
data=data.dropna()

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129 entries, 0 to 208
Data columns (total 6 columns):
Country         129 non-null object
WorldBank[7]    129 non-null object
Year            129 non-null float64
CIA[8]          129 non-null object
Year.1          129 non-null float64
Continent       129 non-null object
dtypes: float64(2), object(4)
memory usage: 7.1+ KB

In [39]:
#new data

data.head()

       Country WorldBank[7]    Year CIA[8]  Year.1      Continent
0  Afghanistan        54.5%  2016.0  54.5%  2017.0           Asia
1      Albania        14.3%  2012.0  14.3%  2012.0         Europe
2      Algeria         5.5%  2011.0  23.0%  2006.0         Africa
4       Angola        36.6%  2008.0  36.6%  2008.0         Africa
7    Argentina        25.7%  2017.0  25.7%  2017.0  South America

In [40]:
data=data.rename(columns={'WorldBank[7]':'WorldBank',
                          'CIA[8]':'CIA',})

In [41]:

data.head()

       Country WorldBank    Year    CIA  Year.1      Continent
0  Afghanistan     54.5%  2016.0  54.5%  2017.0           Asia
1      Albania     14.3%  2012.0  14.3%  2012.0         Europe
2      Algeria      5.5%  2011.0  23.0%  2006.0         Africa
4       Angola     36.6%  2008.0  36.6%  2008.0         Africa
7    Argentina     25.7%  2017.0  25.7%  2017.0  South America

In [42]:
#removing the % 

data["WorldBank"]=data["WorldBank"].astype(str).str.replace("%", "")

In [43]:
data["CIA"]=data["CIA"].astype(str).str.replace("%", "")

In [44]:
#converting it to numeric data

data["WorldBank"] = data["WorldBank"].apply(pd.to_numeric, errors='coerce').astype('float64')

In [45]:
data["CIA"] = data["CIA"].apply(pd.to_numeric, errors='coerce').astype('float64')

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129 entries, 0 to 208
Data columns (total 6 columns):
Country      129 non-null object
WorldBank    129 non-null float64
Year         129 non-null float64
CIA          129 non-null float64
Year.1       129 non-null float64
Continent    129 non-null object
dtypes: float64(4), object(2)
memory usage: 7.1+ KB

In [47]:
#data corr is a function to analyze the relation between various numeric datas
#here we can see that the data of World Bank and CIA have 88% co relation 
#indicating that both presented similar data values

data.corr()

           WorldBank      Year       CIA    Year.1
WorldBank   1.000000 -0.383987  0.880895 -0.171414
Year       -0.383987  1.000000 -0.387404  0.491647
CIA         0.880895 -0.387404  1.000000 -0.170587
Year.1     -0.171414  0.491647 -0.170587  1.000000

In [49]:
data.head()

       Country  WorldBank    Year   CIA  Year.1      Continent
0  Afghanistan       54.5  2016.0  54.5  2017.0           Asia
1      Albania       14.3  2012.0  14.3  2012.0         Europe
2      Algeria        5.5  2011.0  23.0  2006.0         Africa
4       Angola       36.6  2008.0  36.6  2008.0         Africa
7    Argentina       25.7  2017.0  25.7  2017.0  South America

In [50]:
len(data)

129

In [60]:
#percentage people worldwide

#around 30.87 people worldwide live in poor conditions

wb_num=((data['WorldBank'].sum())/129)
wb_num

30.878294573643412