In [26]:
import plotly as pd
import plotly.graph_objs as go
import plotly.plotly as py
import plotly.plotly as tls
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

In [2]:
init_notebook_mode(connected=True)

In [3]:
import pandas as pd
df = pd.read_excel('Census-2001&2011.xlsx')
df

,State wise details of working children in the age group of 5-14 years as per Census 2001 and Census 2011 are as under:,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Sl. No.,Name of State/UT,No. of working children in the age group of 5-...,NaN,NaN
1,NaN,NaN,Census 2001,Census 2011,NaN
2,1,Andaman & Nicobar Island,1960,999,NaN
3,2,Andhra Pradesh,1363339,404851,NaN
4,3,Arunachal Pradesh,18482,5766,NaN
5,4,Assam,351416,99512,NaN
6,5,Bihar,1117500,451590,NaN
7,6,Chandigarh U.T.,3779,3135,NaN
8,7,Chhattisgarh,364572,63884,NaN
9,8,Dadra & Nagar H.,4274,1054,NaN
10,9,Daman & Diu U.T.,729,774,NaN
11,10,Delhi U.T.,41899,26473,NaN
12,11,Goa,4138,6920,NaN
13,12,Gujarat,485530,250318,NaN
14,13,Haryana,253491,53492,NaN
15,14,Himachal Pradesh,107774,15001,NaN
16,15,Jammu & Kashmir,175630,25528,NaN
17,16,Jharkhand,407200,90996,NaN
18,17,Karnataka,822615,249432,NaN
19,18,Kerala,26156,21757,NaN
20,19,Lakshadweep UT,27,28,NaN
21,20,Madhya Pradesh,1065259,286310,NaN
22,21,Maharashtra,764075,496916,NaN
23,22,Manipur,28836,11805,NaN
24,23,Meghalaya,53940,18839,NaN
25,24,Mizoram,26265,2793,NaN
26,25,Nagaland,45874,11062,NaN
27,26,Odisha,377594,92087,NaN
28,27,Pondicherry U.T.,1904,1421,NaN
29,28,Punjab,177268,90353,NaN
30,29,Rajasthan,1262570,252338,NaN
31,30,Sikkim,16457,2704,NaN
32,31,Tamil Nadu,418801,151437,NaN
33,32,Tripura,21756,4998,NaN
34,33,Uttar Pradesh,1927997,896301,NaN
35,34,Uttarakhand,70183,28098,NaN
36,35,West Bengal,857087,234275,NaN
37,NaN,Total,12666377,4353247,NaN
38,1,NaN,NaN,NaN,NaN

In [4]:
df = df.drop(df.columns[4], axis=1)

In [5]:
df.columns = ['SNo', 'Name of State/UT' ,'No. of working children in the age group of 5-14 Census 2001', 'No. of working children in the age group of 5-14 Census 2011']

In [6]:
df = df.drop(df.index[[0,1,37,38]])

In [7]:
df = df.reset_index(drop=True)

In [8]:
df

,SNo,Name of State/UT,No. of working children in the age group of 5-14 Census 2001,No. of working children in the age group of 5-14 Census 2011
0,1,Andaman & Nicobar Island,1960,999
1,2,Andhra Pradesh,1363339,404851
2,3,Arunachal Pradesh,18482,5766
3,4,Assam,351416,99512
4,5,Bihar,1117500,451590
5,6,Chandigarh U.T.,3779,3135
6,7,Chhattisgarh,364572,63884
7,8,Dadra & Nagar H.,4274,1054
8,9,Daman & Diu U.T.,729,774
9,10,Delhi U.T.,41899,26473
10,11,Goa,4138,6920
11,12,Gujarat,485530,250318
12,13,Haryana,253491,53492
13,14,Himachal Pradesh,107774,15001
14,15,Jammu & Kashmir,175630,25528
15,16,Jharkhand,407200,90996
16,17,Karnataka,822615,249432
17,18,Kerala,26156,21757
18,19,Lakshadweep UT,27,28
19,20,Madhya Pradesh,1065259,286310
20,21,Maharashtra,764075,496916
21,22,Manipur,28836,11805
22,23,Meghalaya,53940,18839
23,24,Mizoram,26265,2793
24,25,Nagaland,45874,11062
25,26,Odisha,377594,92087
26,27,Pondicherry U.T.,1904,1421
27,28,Punjab,177268,90353
28,29,Rajasthan,1262570,252338
29,30,Sikkim,16457,2704
30,31,Tamil Nadu,418801,151437
31,32,Tripura,21756,4998
32,33,Uttar Pradesh,1927997,896301
33,34,Uttarakhand,70183,28098
34,35,West Bengal,857087,234275

In [9]:
df = df.drop(df.columns[0],axis=1)

In [11]:
df['text'] = df['Name of State/UT'] + '<br>' + df['No. of working children in the age group of 5-14 Census 2001'].astype(str)

In [12]:
df

,Name of State/UT,No. of working children in the age group of 5-14 Census 2001,No. of working children in the age group of 5-14 Census 2011,text
0,Andaman & Nicobar Island,1960,999,Andaman & Nicobar Island<br>1960
1,Andhra Pradesh,1363339,404851,Andhra Pradesh<br>1363339
2,Arunachal Pradesh,18482,5766,Arunachal Pradesh<br>18482
3,Assam,351416,99512,Assam<br>351416
4,Bihar,1117500,451590,Bihar<br>1117500
5,Chandigarh U.T.,3779,3135,Chandigarh U.T.<br>3779
6,Chhattisgarh,364572,63884,Chhattisgarh<br>364572
7,Dadra & Nagar H.,4274,1054,Dadra & Nagar H.<br>4274
8,Daman & Diu U.T.,729,774,Daman & Diu U.T.<br>729
9,Delhi U.T.,41899,26473,Delhi U.T.<br>41899
10,Goa,4138,6920,Goa<br>4138
11,Gujarat,485530,250318,Gujarat<br>485530
12,Haryana,253491,53492,Haryana<br>253491
13,Himachal Pradesh,107774,15001,Himachal Pradesh<br>107774
14,Jammu & Kashmir,175630,25528,Jammu & Kashmir<br>175630
15,Jharkhand,407200,90996,Jharkhand<br>407200
16,Karnataka,822615,249432,Karnataka<br>822615
17,Kerala,26156,21757,Kerala<br>26156
18,Lakshadweep UT,27,28,Lakshadweep UT<br>27
19,Madhya Pradesh,1065259,286310,Madhya Pradesh<br>1065259
20,Maharashtra,764075,496916,Maharashtra<br>764075
21,Manipur,28836,11805,Manipur<br>28836
22,Meghalaya,53940,18839,Meghalaya<br>53940
23,Mizoram,26265,2793,Mizoram<br>26265
24,Nagaland,45874,11062,Nagaland<br>45874
25,Odisha,377594,92087,Odisha<br>377594
26,Pondicherry U.T.,1904,1421,Pondicherry U.T.<br>1904
27,Punjab,177268,90353,Punjab<br>177268
28,Rajasthan,1262570,252338,Rajasthan<br>1262570
29,Sikkim,16457,2704,Sikkim<br>16457
30,Tamil Nadu,418801,151437,Tamil Nadu<br>418801
31,Tripura,21756,4998,Tripura<br>21756
32,Uttar Pradesh,1927997,896301,Uttar Pradesh<br>1927997
33,Uttarakhand,70183,28098,Uttarakhand<br>70183
34,West Bengal,857087,234275,West Bengal<br>857087

In [30]:
data = [
    dict(
        type='choropleth',
        locations=df['Name of State/UT'],
        z=df['No. of working children in the age group of 5-14 Census 2001'],
        colorscale='Portland',
        text = df['text'],
        colorbar = dict(
            title='Thousand Population'
        )
    )
]

In [18]:
data

[{'type': 'choropleth', 'locations': 0     Andaman & Nicobar Island
  1               Andhra Pradesh
  2            Arunachal Pradesh
  3                        Assam
  4                        Bihar
  5           Chandigarh    U.T.
  6                 Chhattisgarh
  7             Dadra & Nagar H.
  8             Daman & Diu U.T.
  9                   Delhi U.T.
  10                         Goa
  11                     Gujarat
  12                     Haryana
  13            Himachal Pradesh
  14             Jammu & Kashmir
  15                   Jharkhand
  16                   Karnataka
  17                      Kerala
  18              Lakshadweep UT
  19              Madhya Pradesh
  20                 Maharashtra
  21                     Manipur
  22                   Meghalaya
  23                     Mizoram
  24                    Nagaland
  25                      Odisha
  26          Pondicherry   U.T.
  27                      Punjab
  28                   Rajasthan
  29                      Sikkim
  30                  Tamil Nadu
  31                     Tripura
  32               Uttar Pradesh
  33                 Uttarakhand
  34                 West Bengal
  Name: Name of State/UT, dtype: object, 'z': 0        1960
  1     1363339
  2       18482
  3      351416
  4     1117500
  5        3779
  6      364572
  7        4274
  8         729
  9       41899
  10       4138
  11     485530
  12     253491
  13     107774
  14     175630
  15     407200
  16     822615
  17      26156
  18         27
  19    1065259
  20     764075
  21      28836
  22      53940
  23      26265
  24      45874
  25     377594
  26       1904
  27     177268
  28    1262570
  29      16457
  30     418801
  31      21756
  32    1927997
  33      70183
  34     857087
  Name: No. of working children in the age group of 5-14 Census 2001, dtype: object, 'autocolorscale': False, 'colorscale': 'custom-colorscale', 'text': 0     Andaman & Nicobar Island<br>1960
  1            Andhra Pradesh<br>1363339
  2           Arunachal Pradesh<br>18482
  3                      Assam<br>351416
  4                     Bihar<br>1117500
  5           Chandigarh    U.T.<br>3779
  6               Chhattisgarh<br>364572
  7             Dadra & Nagar H.<br>4274
  8              Daman & Diu U.T.<br>729
  9                  Delhi U.T.<br>41899
  10                         Goa<br>4138
  11                   Gujarat<br>485530
  12                   Haryana<br>253491
  13          Himachal Pradesh<br>107774
  14           Jammu & Kashmir<br>175630
  15                 Jharkhand<br>407200
  16                 Karnataka<br>822615
  17                     Kerala<br>26156
  18                Lakshadweep UT<br>27
  19           Madhya Pradesh<br>1065259
  20               Maharashtra<br>764075
  21                    Manipur<br>28836
  22                  Meghalaya<br>53940
  23                    Mizoram<br>26265
  24                   Nagaland<br>45874
  25                    Odisha<br>377594
  26          Pondicherry   U.T.<br>1904
  27                    Punjab<br>177268
  28                Rajasthan<br>1262570
  29                     Sikkim<br>16457
  30                Tamil Nadu<br>418801
  31                    Tripura<br>21756
  32            Uttar Pradesh<br>1927997
  33                Uttarakhand<br>70183
  34               West Bengal<br>857087
  Name: text, dtype: object, 'colorbar': {'title': 'Thousand Population'}}]

In [31]:
layout = dict(
    title='Name of State/UT',
    geo = dict(
        scope='asia', 
        projection = dict(
            type='natural-earth',
     )
   )
)

In [32]:
layout

{'title': 'Name of State/UT',
 'geo': {'scope': 'asia', 'projection': {'type': 'india'}}}

In [33]:
flag = dict(data=data, layout=layout)

In [34]:
py.iplot( flag, filename='d3-choropleth')

ValueError:
    Invalid value of type 'builtins.str' received for the 'type' property of layout.geo.projection
        Received value: 'india'

    The 'type' property is an enumeration that may be specified as:
      - One of the following enumeration values:
            ['equirectangular', 'mercator', 'orthographic', 'natural
            earth', 'kavrayskiy7', 'miller', 'robinson', 'eckert4',
            'azimuthal equal area', 'azimuthal equidistant', 'conic
            equal area', 'conic conformal', 'conic equidistant',
            'gnomonic', 'stereographic', 'mollweide', 'hammer',
            'transverse mercator', 'albers usa', 'winkel tripel',
            'aitoff', 'sinusoidal']